extends ../templates/layout

block variables
  - var user_session = session.user

block content

  include ../includes/header-main

  if user_session.isAnon === true
    div(class='row mt-5')
      div(class='col s8 offset-s2 center-align')
        ul
          li ID : #{user_session.id}
          li Name : #{user_session.firstName}
          li Lastname : #{user_session.lastName}
          li Age : #{user_session.age}
          li Mail : #{user_session.email}
          li Password : #{user_session.password}
          li IsAnon : #{user_session.isAnon}
          li IsLogged : #{user_session.isLogged}

  if user_session.isAnon === false
    div(class='row mt-5 m-0')

      div(id='todo-component' class='col s12 m2 offset-m1 px-0')
        div(class='col s12 border border-dark border-top-0 border-left-0 border-right-0')
          div(class='row m-0 pb-2')
            div(class='col s4 left-align')
              p(class='m-0')= session.todos.length
            div(class='col s4 center-align')
              p(class='m-0') TODO
            div(class='col s4 right-align')
              i(class='fa fa-plus')

        div(class='col s12 pb-2 todo-list mCustomScrollbar mx-0 px-0' data-mcs-theme='dark')
          ul
            for todo in session.todos
              if todo.complete === false
                li
                  div(class='row m-0')
                  div(class='col s6 left-align')
                    p(class='mt-1')= todo.title
                  div(class='col s1 offset-s3 right-align')
                    span(class='mt-1')
                      a(class='black-text') ✓
                  div(class='col s1 right-align')
                    span(class='mt-1')
                      a(class='black-text' href='/todo/del/'+todo.id) ✘

        div(class='col s12')
          form(action='/todo/add' method='post')
            input(id='todoTitle' name='todoTitle' type='text' class='validate col s12' placeholder='Enter new todo')
            input(id='submit' type='submit' class='waves-effect waves-light btn offset-s1 btn red lighten-2 mt-2' value='+' style='display:none')

      div(id='' class='col s12 m4 offset-m1 px-0')
        div(class='col s12 border border-dark border-top-0 border-left-0 border-right-0 center-align')
            h6(class='m-0 pb-2') Projects
        for project in session.projects
          div(class='col s12 border border-dark border-top-0 border-left-0 border-right-0')
            div(class='row valign-wrapper pt-3')
              div(class='col s4 left-align')
                div(class='row m-0')
                  div(class='col s12')
                    p(class='p-0 m-0 font-weight-bold')= project.title
                  div(class='col s12')
                    blockquote(class='p-0 m-0')
                      p(class='m-0 ml-2')= project.size+' mb'
              div(class='col s6 px-0')
                div(class='row m-0 p-0')
                  div(class='col s12 d-inline-block')
                    - var languagesArr = project.language.split(',')
                      for lang in languagesArr
                        p(class='p-0 m-0 ml-2 text-uppercase d-inline lang-'+lang )= lang

              div(class='col s1 offset-s3 pr-0')
                if project.isFav === false
                  i(class='far fa-star')
                else
                  i(class='fas fa-star')
              div(class='col s1 right-align')
                i(class='fa fa-arrow-right')


      div(class='col s12 m2 offset-m1 ')
        p test



